.portal-switcher {
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
  
    & > div {
      cursor: pointer;
      display: flex;
      width: 18rem;
      flex-direction: column;
      justify-content: center;
  
      &:hover {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);
      }
    }
  
    .logo-row {
      align-items: center;
      display: flex;
      flex-direction: row;
  
      .logo {
        margin-right: 2px;
      }
      .text-col {
        color: black;
        display: flex;
        flex-direction: column;
      }
  
      .change-portal-text {
        align-items: center;
        display: flex;
        color: grey;
        font-size: 0.85rem;
        margin-top: 4px;
      }
      svg {
        margin-left: 8px;
        display: inline-block;
        width: 1rem;
      }
    }
    .inner-portals {
      background-color: white;
      margin-top: 2px;
      border-top-width: 2px;
      border-color: rgb(229 231 235);
      border-top-style: solid;
      padding-left: 5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
  
      .broker-link {
        color: black;
        font-size: 1rem;
  
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  