.sortable-list-group {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    
    &> button {
      background-color: white;
      border-radius: 10px;
      color: black;
      font-weight: bold;
      margin: 0.5em 0 0.5em auto;
      padding: 0.5rem;
      
  
    }
    .editingText {
      display: none;
    }
    
    &.active {
      .editingText {
        display: block;
      }
      .defaultText {
        display: none;
      }
      button.edit {
        visibility: visible;
      }
    }
  }
  .sortable-list {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      border: 1px solid #ccc;
      background-color: black;
      cursor: pointer;
      display: flex;
      font-size: 1rem;
      font-weight: bold;
      margin: 0.5em 0;
      position: relative;

      .text {
        display: block;
        padding: 1em;
        width: 100%;
      }

      &.dropArea {
        position: relative;
        
        .text {
          background: #ccc;
        }
    
        &::before {
          content: "Drop Here";
          color: blue;
          font-size: 0.5em;
          text-transform: uppercase;
          width: 100%;
          height: 100%;
          border: 2px dashed blue;
          border-radius: 3px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      
      button.edit,
      span.icon-sort {
        cursor: pointer;
        display: block;
      }
      button.edit {
        visibility: hidden;
      }
      span.icon-sort {
        background: url(/sort.svg) no-repeat;
        background-position: center center;
        background-size: auto 100%;
        background-color: #ccc;
        border: 1px solid #ccc;
        height: 1rem;
        margin: auto 0.5rem auto auto;
        padding: 1em;
        width: 1rem;
      }

      &.dropArea {
        span.icon-sort {
          display: none;
        }
      }
    }
  }