.btn-slideshow-fullscreen {
    background-color: white;
    border: none;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;

    span.icon {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewBox='0 0 32 32'%3E%3Ctitle%3Eenlarge%3C/title%3E%3Cpath d='M32 0h-13l5 5-6 6 3 3 6-6 5 5z'%3E%3C/path%3E%3Cpath d='M32 32v-13l-5 5-6-6-3 3 6 6-5 5z'%3E%3C/path%3E%3Cpath d='M0 32h13l-5-5 6-6-3-3-6 6-5-5z'%3E%3C/path%3E%3Cpath d='M0 0v13l5-5 6 6 3-3-6-6 5-5z'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        display: block;
        height: 1rem;
        width: 1rem;
    }
}
.btn-slideshow-close {
    background-color: rgba(255,255,255,1);
    border: none;
    color: #000;
    display: none;
    font-size: 1rem;
    font-weight: bold;
    right: 1em;
    top: 1em;
    position: absolute;

    span.icon:before {
        content: 'X';
        display: block;
    }
}
.inspiration-slideshow {
    position: relative;

    &.fullscreen {
        background-color: #000;
        height: 100%;
        left: 0;
        padding-top: 2em;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 100;

        .btn-slideshow-close {
            display: block;
        }
    }

    /* Slideshow container */
    .slideshow-container {
        margin: auto;
        position: relative;
        max-width: 1000px;

        figure, figcaption {
            margin: 0;
            width: 100%;
        }
    }
    
    /* Hide the images by default */
    .slide {
        display: none;

        img {
            max-width: 1152px;
        }

        &.active {
            display: block;
        }
    }
    
    /* Next & previous buttons */
    .prev, .next {
        background-color: transparent;
        border: none;
        border-radius: 0 3px 3px 0;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: -22px;
        padding: 1em;
        position: absolute;
        top: 50%;
        transition: 0.6s ease;
        user-select: none;
        width: auto;
    }
    
    /* Position the "next button" to the right */
    .next {
        border-radius: 3px 0 0 3px;
        right: 0;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
        background-color: rgba(0,0,0,0.8);
        bottom: 0;
        color: #f2f2f2;
        font-size: 1rem;
        padding: 0.5em 1em;
        position: absolute;
        width: 100%;
        text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        background-color: rgba(0,0,0,0.8);
        color: #f2f2f2;
        font-size: 0.75rem;
        padding: 0.5em 1em;
        position: absolute;
        top: 0;
    }
    
    .dots {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 2px;
            padding: 0;
        }
    }

    /* The dots/bullets/indicators */
    .dot {
        background-color: #bbb;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 1em;
        transition: background-color 0.6s ease;
        width: 1em;
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}